#tom{
    color: chartreuse;
    padding: 20px;
    text-align: center;

}
.migu{
    color: blueviolet;
    padding: 15px;
}
.apen{
    color: crimson;
    text-align: center;
    font-size: larger;
}